.page-wrapper {
	// empty
}
%container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.header,
.footer {
	height: 50px;
	background-color: $primary-color-dark;

	&__content {
		@extend %container;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.section {
	@extend %container;
	width: 100%;
	min-height: 100vh;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: beige;
}