* {
	box-sizing: border-box;
}

body {
	font-family: $mainFont;
	font-size: 16px;
	line-height: 1.5;
	font-weight: $light;
	color: $primary-text-color;
	margin: 0;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: $normal;
}

a {
	text-decoration: none;
	color: $accent-color;
	font-weight: $normal;
}
